extends layout


block body

  .body-container.list-container


    hgroup
      h1.list-title Collection of libs
        a.list-add-item(href="/add") +


    .list-collection

      .list-item
        header
          .list-item-icon.list-item-icon-npm
          a.list-item-title(href="#") lodash
          .list-item-version ~4.17.4
        .list-item-tags modules, stdlib, util
        .list-item-description Lodash modular utilities.

      .list-item
        header
          .list-item-icon.list-item-icon-npm
          .list-item-title lodash
          .list-item-version ~4.17.4
        .list-item-tags modules, stdlib, util
        .list-item-description Lodash modular utilities.

      .list-item
        header
          .list-item-icon.list-item-icon-npm
          .list-item-title lodash
          .list-item-version ~4.17.4
        .list-item-tags modules, stdlib, util
        .list-item-description Lodash modular utilities.

      .list-item
        header
          .list-item-icon.list-item-icon-npm
          .list-item-title lodash
          .list-item-version ~4.17.4
        .list-item-tags modules, stdlib, util
        .list-item-description Lodash modular utilities.

      .list-item
        header
          .list-item-icon.list-item-icon-npm
          .list-item-title lodash
          .list-item-version ~4.17.4
        .list-item-tags modules, stdlib, util
        .list-item-description Lodash modular utilities.



