extends layout


block body

  .body-container.list-container


    hgroup
      h1.list-title Collection of libs
        a.list-add-item(href="/add") +


    .list-collection

      if collection.length === 0
        .no-collection-log no collection
      else
        each elemt in collection
          .list-item
            header
              div(class='list-item-icon list-item-icon-'+elemt.keyfrom)
              a.list-item-title(href='/element/'+ elemt.name)= elemt.name
              .list-item-version= elemt.version
            .list-item-tags= elemt.tags
            .list-item-description= elemt.description


